.wrapper {
  padding-bottom: rem(60);
}


.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: fluid(48, 12);
  margin-bottom: rem(12);

  @include mobile {
    flex-direction: column;
    align-items: start;
  }
}

.models {
  color: var(--color-gray);
}
