body {
  @include fluid-text(18, 24);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: rem(18);

  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  color: var(--text-color);
  background-color: var(--background-color);
}

#root {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
}

main,
.breadcrumbs {
  flex-grow: 1;
}

h1, .h1 {
  @include fluid-text(48, 32);
  line-height: 1.2;
}

h2, .h2 {
  @include fluid-text(32, 26);
  line-height: 1.3;
}

h3, .h3 {
  @include fluid-text(28, 22);
}

h4, .h4 {
  @include fluid-text(22, 18);
}

h5, .h5 {
  @include fluid-text(18, 16);
}

h6, .h6 {
  @include fluid-text(16, 14);
}  

* {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    opacity: 0.7;
    // color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
   transition-duration: 0s !important;
}

a, 
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}

.grid-wide,
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: fluid(60, 30);

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid {
  @include laptop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}