:root {
  --color-light: #FFF;
  --color-dark: #101010;
  --color-gray: #9c9d98;
  --color-gray-10: #c2c2c2;
  --color-gray-light: #d4d4d4;
  --color-accent: #c6f041;
  --color-green: #539b6d;

  --font-family-base: "Roboto", sans-serif;

  --border: #{rem(1)} solid var(--color-dark);

  --shadow: 0 0 0 #{rem(3)} var(--color-dark);

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(10)};

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: #{rem(1280)};
  }
}